<% if @orders.present? %>
<div id="result-order-serach">
  <% @orders.each do |order|%>
    <dl>
      <dt><strong><%= Order.human_attribute_name(:code) %>:</strong></dt>
      <dd><%= order.code %></dd>
      <dt><strong><%= Order.human_attribute_name(:warehouse_id) %>:</strong></dt>
      <dd><%= order.warehouse.description_full %></dd>
      <dt><strong><%= Order.human_attribute_name(:supplier_id) %>:</strong></dt>
      <dd><%= order.supplier.corporate_name %></dd>  
    </dl>
  <% end %>
<% else %>
  <h1>Nenhum pedido encontrado de <%= current_user.name %> </h1>
</div>
<% end %>