<% if @orders.present? %>
<div id="orders">
  <% @orders.each do |order|%>
    <dl>
      <dt><strong><%= Order.human_attribute_name(:code) %>:</strong></dt>
      <dd><%= link_to order.code, order %></dd>
      <dt><strong><%= Order.human_attribute_name(:warehouse_id) %>:</strong></dt>
      <dd><%= order.warehouse.description_full %></dd>
      <dt><strong><%= Order.human_attribute_name(:supplier_id) %>:</strong></dt>
      <dd><%= order.supplier.corporate_name %></dd>  
      <dt><strong><%= Order.human_attribute_name(:status) %>:</strong></dt>
      <dd><%= I18n.t(order.status) %></dd>  
    </dl>
  <% end %>
<% else %>
  <h1>Nenhum pedido encontrado de <%= current_user.name %> </h1>
</div>
<% end %>