<h1>Pedido</h1>

<section id="order-details">
  <div>
    <dl>
      <dt><strong>Fornecedor: <strong><dt>
        <dd><%= @order.supplier.corporate_name %><dd>
      <dt><strong>Galpão destinado: <strong><dt>
        <dd><%= @order.warehouse.name %><dd>
      <dt><strong>Usuário responsável: <strong><dt>
        <dd><%= @order.user.name %><dd>
      <dt><strong>Email do responsável: <strong><dt>
        <dd><%= "<#{@order.user.email}>" %><dd>
      <dt><strong>Data para entrega: <strong><dt>
        <dd><%= I18n.localize(@order.date_delivery) %><dd>
     <dl> 
  </div>
</section>